{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>Last Words <small>of every inmate executed in Texas since 1984</small></h1>
</div>
<div class="row">
    <div class="col-md-8"><p class="lead">Results for: <strong>{{ user_input }}</strong></p></div>
    <div class="col-md-4 text-right"><a href="{{ url_for('main_page') }}">New query</a></div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Score</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Statement</th>
            <th class="text-center">Full Statement</th>
            <th>Age</th>
            <th>Race</th>
            <th>Date</th>
            <th class="text-center">Inmate Details</th>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td>{{'%0.3f'| format(item.value|float)}}</td>
            <td>{{ item.surename }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.stm }}</td>
            <td class="text-center"><a href="{{ url_for('inmate_details', inmate_id=item.index) }}"><span class="glyphicon glyphicon-file"></span></a></td>
            <td>{{ item.age }}</td>
            <td>{{ item.race }}</td>
            <td>{{ item.date }}</td>
            <td class="text-center"><a href="{{ item.info_link }}" target="_blank"><span class="glyphicon glyphicon-list-alt"></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}