{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>Last Words <small>of every inmate executed in Texas since 1984</small></h1>
    <p>Data found on <a href="http://rs.io/2014/05/29/list-of-data-sets.html" target="_blank">http://rs.io/2014/05/29/list-of-data-sets.html</a></p>
    <p>Data taken from <a href="http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html" target="_blank">http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html</a></p>
</div>
{% endblock %}