{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>Last Words <small>of every inmate executed in Texas since 1984</small></h1>
    <p>Data found on <a href="http://rs.io/2014/05/29/list-of-data-sets.html" target="_blank">http://rs.io/2014/05/29/list-of-data-sets.html</a></p>
    <p>Data taken from <a href="http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html" target="_blank">http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html</a></p>
</div>
<h3>Libraries used in the project:</h3>
<ul>
    <li>gensim <a href="http://radimrehurek.com/gensim/">http://radimrehurek.com/gensim/</a></li>
    <li>nltk <a href="http://www.nltk.org/">http://www.nltk.org/</a></li>
    <li>pandas <a href="http://pandas.pydata.org/">http://pandas.pydata.org/</a></li>
    <li>textblob <a href="https://textblob.readthedocs.org/">https://textblob.readthedocs.org/</a></li>
</ul>
<h3>Source:</h3>
<ul>
    <li><a href="https://github.com/jkrukowski/last_word_web">https://github.com/jkrukowski/last_word_web</a></li>
</ul>
<address>
    <strong>Author</strong><br>
    Janek Krukowski<br>
    <a href="mailto:janekkrukowski@gmail.com">janekkrukowski@gmail.com</a><br>
    <a href="https://www.facebook.com/ncdata">https://www.facebook.com/ncdata</a>
</address>
{% endblock %}