<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Last Word</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:image" content="http://last-word.herokuapp.com/static/favicon.ico" />
    <meta property="og:title" content="Last Word" />
    <meta property="og:site_name" content="Last Word"/>
    <meta property="og:description" content="Database of last words of every inmate executed in Texas since 1984" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>