{% extends "layout.html" %}
{% block body %}
<script>
    $(function() {
        // validate input
        $('#enterQueryButton').click(function() {
            var str = $.trim($("#queryInput").val());
            console.log(str);
            var parseError = !str || !str.length;
            if (parseError) {
                $('#queryInput').parent().addClass('has-error');
                $('#queryInput').focus();
            } else {
                $('#queryInput').parent().removeClass('has-error');
            }
            return !parseError;
        });

        $('#helpButton').popover({
          trigger: 'focus'
        });
    });
</script>
<div class="page-header">
    <h1>Last Words <small>of every inmate executed in Texas since 1984</small></h1>
    <p>Data found on <a href="http://rs.io/2014/05/29/list-of-data-sets.html" target="_blank">http://rs.io/2014/05/29/list-of-data-sets.html</a></p>
    <p>Data taken from <a href="http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html" target="_blank">http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html</a></p>
</div>
<form action="{{ url_for('user_query') }}" method="get" role="form">
    <div class="form-group">
        <input id="queryInput" type="text" class="form-control" placeholder="Enter your query" name="q">
    </div>
    <div class="form-group">
        <button id="enterQueryButton" type="submit" class="btn btn-default">Search</button>
        <button id="helpButton" type="button" class="btn btn-default popover-dismiss" data-container="body" data-toggle="popover" title="Help" data-placement="bottom" data-content="Just enter your query to search the database of last words of every inmate executed in Texas since 1984"><span class="glyphicon glyphicon-question-sign"></span></button>
        <a type="button" class="btn btn-default" href="{{ url_for('user_info') }}"><span class="glyphicon glyphicon-info-sign"></span></a>
    </div>
</form>
{% endblock %}