{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>Last Words <small>of every inmate executed in Texas since 1984</small></h1>
    <p>Data found on <a href="http://rs.io/2014/05/29/list-of-data-sets.html" target="_blank">http://rs.io/2014/05/29/list-of-data-sets.html</a></p>
    <p>Data taken from <a href="http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html" target="_blank">http://www.tdcj.state.tx.us/death_row/dr_executed_offenders.html</a></p>
</div>
<form action="{{ url_for('user_query') }}" method="get" role="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your query" name="q">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Search</button>
    </div>
</form>
<div class="row">
    <div class="col-md-4">
        <h4>Inmate Race Distribution</h4>
        <canvas id="firstChart" width="360" height="360"></canvas>
    </div>
    <div class="col-md-4">
        <h4>Inmate Age Distribution</h4>
        <canvas id="secondChart" width="360" height="360"></canvas>
    </div>
    <div class="col-md-4">
        <h4>Executions By Year</h4>
        <canvas id="thirdChart" width="360" height="360"></canvas>
    </div>
</div>
<script>
function createPlot(lab, dataSeries, elementId) {
    var data = {
        labels: lab,
        datasets: [
            {
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: dataSeries
            }
        ]
    };
    var options = { };
    var ctx = document.getElementById(elementId).getContext("2d");
    var myLineChart = new Chart(ctx).Bar(data, options);
}

createPlot({{ all_plot.race.lab|tojson|safe }}, {{ all_plot.race.val|tojson|safe }}, "firstChart");
createPlot({{ all_plot.age.lab|tojson|safe }}, {{ age_plot.age.val|tojson|safe }}, "secondChart");
createPlot({{ all_plot.year.lab|tojson|safe }}, {{ all_plot.year.val|tojson|safe }}, "thirdChart");
</script>
{% endblock %}