{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>Last Words <small>of every inmate executed in Texas since 1984</small></h1>
</div>
<div class="row">
    <div class="col-md-8"><p class="lead">Results for: <strong>{{ user_input }}</strong></p></div>
    <div class="col-md-4 text-right"><a class="btn btn-default" href="{{ url_for('main_page') }}" role="button">New query</a></div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{{ item.name }} {{ item.surename }}</h1>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Age</dt>
            <dd>{{ item.age }}</dd>
            <dt>Race</dt>
            <dd>{{ item.race }}</dd>
            <dt>County</dt>
            <dd>{{ item.county }}</dd>
            <dt>Date</dt>
            <dd>{{ item.date }}</dd>
            <dt>Full statement</dt>
            <dd>{{ item.stm }}</dd>
        </dl>
    </div>
</div>
{% endblock %}